html, body, #main {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: inherit
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0
}

body, input, textarea, select, button {
  font-size: 12px;
  font-family: sans-serif
}


@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6h9Q.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6h9Q.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6h9Q.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Inter Tight;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mj0QiaVi5SkK8.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Inter Tight;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mj0QiaXy5SkK8.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
  font-family: Inter Tight;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mj0QiaVy5SkK8.woff2) format("woff2");
  unicode-range: U+1F00-1FFF
}

@font-face {
  font-family: Inter Tight;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mj0QiaWC5SkK8.woff2) format("woff2");
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF
}

@font-face {
  font-family: Inter Tight;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mj0QiaVC5SkK8.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: Inter Tight;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mj0QiaVS5SkK8.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Inter Tight;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/intertight/v7/NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mj0QiaWy5S.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Alta Regular;
  src: url(https://framerusercontent.com/assets/vX4d45pyFyQBKJ0Ub48phRuqmYE.woff2);
  font-display: swap
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/5A3Ce6C9YYmCjpQx9M4inSaKU.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/Qx95Xyt0Ka3SGhinnbXIGpEIyP4.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/6mJuEAguuIuMog10gGvH5d3cl8.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  unicode-range: U+1F00-1FFF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/xYYWaj7wCU5zSQH0eXvSaS19wo.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0370-03FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/otTaNuNpVK4RbdlT7zDDdKvQBA.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/d3tHnaQIAeqiE5hGcRw4mmgWYU.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
  font-family: Inter;
  src: url(https://framerusercontent.com/assets/DolVirEGb34pEXEp8t8FQBSK4.woff2);
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
}

@font-face {
  font-family: DM Sans Placeholder;
  src: local("Arial");
  ascent-override: 94.35%;
  descent-override: 29.49%;
  line-gap-override: 0%;
  size-adjust: 105.14%
}

@font-face {
  font-family: Inter Tight Placeholder;
  src: local("Arial");
  ascent-override: 99.65%;
  descent-override: 24.81%;
  line-gap-override: 0%;
  size-adjust: 97.21%
}

@font-face {
  font-family: Alta Regular Placeholder;
  src: local("Arial");
  ascent-override: 78.94%;
  descent-override: 17.68%;
  line-gap-override: 8.24%;
  size-adjust: 109.19%
}

@font-face {
  font-family: Inter Placeholder;
  src: local("Arial");
  ascent-override: 90%;
  descent-override: 22.43%;
  line-gap-override: 0%;
  size-adjust: 107.64%
}

[data-framer-component-text-autosized] * {
  white-space: pre
}

p.framer-text,
div.framer-text,
h1.framer-text,
h2.framer-text,
h3.framer-text,
h4.framer-text,
h5.framer-text,
h6.framer-text,
ol.framer-text,
ul.framer-text {
  margin: 0;
  padding: 0
}

p.framer-text,
div.framer-text,
h1.framer-text,
h2.framer-text,
h3.framer-text,
h4.framer-text,
h5.framer-text,
h6.framer-text,
li.framer-text,
ol.framer-text,
ul.framer-text,
span.framer-text:not([data-text-fill]) {
  font-family: var(--framer-blockquote-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif));
  font-style: var(--framer-blockquote-font-style, var(--framer-font-style, normal));
  font-weight: var(--framer-blockquote-font-weight, var(--framer-font-weight, 400));
  color: var(--framer-blockquote-text-color, var(--framer-text-color, #000));
  font-size: calc(var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) * var(--framer-font-size-scale, 1));
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  text-transform: var(--framer-blockquote-text-transform, var(--framer-text-transform, none));
  text-decoration: var(--framer-blockquote-text-decoration, var(--framer-text-decoration, none));
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
  text-align: var(--framer-blockquote-text-alignment, var(--framer-text-alignment, start));
  -webkit-text-stroke-width: var(--framer-text-stroke-width, initial);
  -webkit-text-stroke-color: var(--framer-text-stroke-color, initial);
  -moz-font-feature-settings: var(--framer-font-open-type-features, initial);
  -webkit-font-feature-settings: var(--framer-font-open-type-features, initial);
  font-feature-settings: var(--framer-font-open-type-features, initial);
  text-wrap: var(--framer-text-wrap-override, var(--framer-text-wrap))
}

.framer-fit-text .framer-text {
  white-space: nowrap;
  white-space-collapse: preserve
}

strong.framer-text {
  font-family: var(--framer-blockquote-font-family-bold, var(--framer-font-family-bold));
  font-style: var(--framer-blockquote-font-style-bold, var(--framer-font-style-bold));
  font-weight: var(--framer-blockquote-font-weight-bold, var(--framer-font-weight-bold, bolder))
}

em.framer-text {
  font-family: var(--framer-blockquote-font-family-italic, var(--framer-font-family-italic));
  font-style: var(--framer-blockquote-font-style-italic, var(--framer-font-style-italic, italic));
  font-weight: var(--framer-blockquote-font-weight-italic, var(--framer-font-weight-italic))
}

em.framer-text>strong.framer-text {
  font-family: var(--framer-blockquote-font-family-bold-italic, var(--framer-font-family-bold-italic));
  font-style: var(--framer-blockquote-font-style-bold-italic, var(--framer-font-style-bold-italic, italic));
  font-weight: var(--framer-blockquote-font-weight-bold-italic, var(--framer-font-weight-bold-italic, bolder))
}

li.framer-text>ul.framer-text:nth-child(2),
li.framer-text>ol.framer-text:nth-child(2) {
  margin-top: 0
}

.framer-text[data-text-fill] {
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: max(0em, calc(calc(1.3em - var(--framer-blockquote-line-height, var(--framer-line-height, 1.3em))) / 2));
  margin: min(0em, calc(calc(1.3em - var(--framer-blockquote-line-height, var(--framer-line-height, 1.3em))) / -2))
}

code.framer-text,
code.framer-text span.framer-text:not([data-text-fill]) {
  font-family: var(--framer-blockquote-font-family, var(--framer-code-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif)));
  font-style: var(--framer-blockquote-font-style, var(--framer-code-font-style, var(--framer-font-style, normal)));
  font-weight: var(--framer-blockquote-font-weight, var(--framer-code-font-weight, var(--framer-font-weight, 400)));
  color: var(--framer-blockquote-text-color, var(--framer-code-text-color, var(--framer-text-color, #000)));
  font-size: calc(var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) * var(--framer-font-size-scale, 1));
  letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
  line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em))
}

blockquote.framer-text {
  margin-block-start: initial;
  margin-block-end: initial;
  margin-inline-start: initial;
  margin-inline-end: initial;
  unicode-bidi: initial
}

a.framer-text,
a.framer-text span.framer-text:not([data-text-fill]) {
  font-family: var(--framer-blockquote-font-family, var(--framer-link-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif)));
  font-style: var(--framer-blockquote-font-style, var(--framer-link-font-style, var(--framer-font-style, normal)));
  font-weight: var(--framer-blockquote-font-weight, var(--framer-link-font-weight, var(--framer-font-weight, 400)));
  color: var(--framer-blockquote-text-color, var(--framer-link-text-color, var(--framer-text-color, #000)));
  font-size: calc(var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) * var(--framer-font-size-scale, 1));
  text-transform: var(--framer-blockquote-text-transform, var(--framer-link-text-transform, var(--framer-text-transform, none)));
  text-decoration: var(--framer-blockquote-text-decoration, var(--framer-link-text-decoration, var(--framer-text-decoration, none)));
  cursor: var(--framer-custom-cursors, pointer)
}

code.framer-text a.framer-text,
code.framer-text a.framer-text span.framer-text:not([data-text-fill]) {
  font-family: var(--framer-blockquote-font-family, var(--framer-code-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif)));
  font-style: var(--framer-blockquote-font-style, var(--framer-code-font-style, var(--framer-font-style, normal)));
  font-weight: var(--framer-blockquote-font-weight, var(--framer-code-font-weight, var(--framer-font-weight, 400)));
  color: var(--framer-blockquote-text-color, var(--framer-link-text-color, var(--framer-code-text-color, var(--framer-text-color, #000))));
  font-size: calc(var(--framer-blockquote-font-size, var(--framer-font-size, 16px)) * var(--framer-font-size-scale, 1))
}

a.framer-text:hover,
a.framer-text:hover span.framer-text:not([data-text-fill]) {
  font-family: var(--framer-link-hover-font-family, var(--framer-blockquote-font-family, var(--framer-link-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif))));
  font-style: var(--framer-link-hover-font-style, var(--framer-blockquote-font-style, var(--framer-link-font-style, var(--framer-font-style, normal))));
  font-weight: var(--framer-link-hover-font-weight, var(--framer-blockquote-font-weight, var(--framer-link-font-weight, var(--framer-font-weight, 400))));
  color: var(--framer-link-hover-text-color, var(--framer-blockquote-text-color, var(--framer-link-text-color, var(--framer-text-color, #000))));
  font-size: calc(var(--framer-link-hover-font-size, var(--framer-blockquote-font-size, var(--framer-font-size, 16px))) * var(--framer-font-size-scale, 1));
  text-transform: var(--framer-link-hover-text-transform, var(--framer-blockquote-text-transform, var(--framer-link-text-transform, var(--framer-text-transform, none))));
  text-decoration: var(--framer-link-hover-text-decoration, var(--framer-blockquote-text-decoration, var(--framer-link-text-decoration, var(--framer-text-decoration, none))))
}

ul.framer-text,
ol.framer-text {
  display: table;
  width: 100%
}

li.framer-text {
  display: table-row;
  counter-increment: list-item;
  list-style: none
}

.framer-body-augiA20Il-framer-xWgCm {
  background: rgb(0, 0, 0)
}

.framer-xWgCm.framer-lux5qc,
.framer-xWgCm .framer-lux5qc {
  display: block
}

.framer-xWgCm .framer-vmqtxq-container {
  flex: none;
  height: auto;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%);
  width: auto;
  z-index: 1
}

.framer-xWgCm .framer-1ne5l4i {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%
}

.framer-xWgCm .framer-doj1pw {
  aspect-ratio: 2.236111111111111 / 1;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 65px);
  overflow: visible;
  position: relative;
  width: 145px
}

.framer-xWgCm .framer-capug6 {
  --framer-link-text-color: #0099ff;
  --framer-link-text-decoration: underline;
  flex: none;
  height: auto;
  position: relative;
  white-space: pre-wrap;
  width: 335px;
  word-break: break-word;
  word-wrap: break-word
}

.framer-xWgCm .framer-xigl9j-container {
  flex: none;
  height: auto;
  position: relative;
  width: 327px
}

.framer-xWgCm .framer-17qqcn6 {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%
}

.framer-xWgCm .framer-1s5qjkp,
.framer-xWgCm .framer-5v7mk2,
.framer-xWgCm .framer-p5qmck,
.framer-xWgCm .framer-1f0w3to {
  --framer-paragraph-spacing: 0px;
  flex: none;
  height: auto;
  position: relative;
  white-space: pre;
  width: auto
}

.framer-xWgCm .framer-42hyyz {
  --framer-paragraph-spacing: 0px;
  flex: none;
  height: auto;
  opacity: .8;
  position: relative;
  white-space: pre-wrap;
  width: 439px;
  word-break: break-word;
  word-wrap: break-word
}

.framer-xWgCm .framer-ubnhcw {
  --framer-link-text-color: #0099ff;
  --framer-link-text-decoration: underline;
  bottom: -102px;
  flex: none;
  height: auto;
  position: absolute;
  right: -147px;
  white-space: pre;
  width: auto;
  z-index: 1
}

.framer-xWgCm .framer-ycs7x6 {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 42px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 100px 0;
  position: relative;
  width: min-content
}

.framer-xWgCm .framer-134l8u3,
.framer-xWgCm .framer-1ytfxb5 {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 24px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: min-content
}

.framer-xWgCm .framer-cje7rb-container,
.framer-xWgCm .framer-1jcq2p3-container {
  flex: none;
  height: 45px;
  position: relative;
  width: 45px
}

.framer-xWgCm .framer-fpeurw {
  background-color: var(--token-7e31f462-f882-4654-8901-83e4dca2a0fb, #c78e22);
  flex: none;
  height: 495px;
  overflow: hidden;
  position: relative;
  width: 1px
}

.framer-xWgCm .framer-1wsmyl2 {
  --border-bottom-width: 1px;
  --border-color: rgb(255, 255, 255);
  --border-left-width: 1px;
  --border-right-width: 1px;
  --border-style: solid;
  --border-top-width: 1px;
  -webkit-backdrop-filter: blur(13px);
  align-content: center;
  align-items: center;
  border: 1px soli #ffffff;
  backdrop-filter: blur(13px);
  /* background-color: #0009; */
  border-radius: 100%;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: 381px;
  justify-content: center;
  overflow: hidden;
  padding: 43px;
  position: relative;
  width: 379px;
  will-change: var(--framer-will-change-override, transform);
  z-index: 1
}

.framer-xWgCm .framer-c6rbxn-container {
  flex: none;
  height: 352px;
  left: calc(50.65963060686018% - 347px / 2);
  position: absolute;
  top: calc(49.8687664041995% - 352px / 2);
  width: 347px;
  z-index: 1
}

.framer-xWgCm .framer-5mo8o4 {
  --border-bottom-width: 1px;
  --border-color: rgba(241, 241, 241, .2);
  --border-left-width: 1px;
  --border-right-width: 1px;
  --border-style: solid;
  --border-top-width: 1px;
  align-content: center;
  align-items: center;
  border-radius: 336px;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: 258px;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 261px;
  will-change: var(--framer-will-change-override, transform)
}

.framer-xWgCm .framer-1s9by2j {
  flex: none;
  height: 125px;
  position: relative;
  width: 206px
}

.framer-xWgCm .framer-1xlygzp {
  background-color: var(--token-7e31f462-f882-4654-8901-83e4dca2a0fb, #c78e22);
  flex: none;
  height: 1px;
  overflow: hidden;
  position: relative;
  width: 627px
}

.framer-xWgCm .framer-1yj4cd7-container {
  flex: none;
  height: auto;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10
}

@media (min-width: 1200px) and (max-width: 1899px) {
  .framer-xWgCm .hidden-72rtr7 {
    display: none !important
  }
}

@media (min-width: 810px) and (max-width: 1199px) {
  .framer-xWgCm .hidden-q3t3ic {
    display: none !important
  }

  .framer-body-augiA20Il-framer-xWgCm {
    background: rgb(0, 0, 0)
  }

  .framer-xWgCm .framer-1wsmyl2 {
    order: 0
  }

  .framer-xWgCm .framer-ubnhcw {
    left: 50%;
    right: unset;
    transform: translate(-50%)
  }

  .framer-xWgCm .framer-ycs7x6 {
    align-content: center;
    align-items: center;
    order: 2;
    padding: 0
  }

  .framer-xWgCm .framer-134l8u3,
  .framer-xWgCm .framer-1ytfxb5 {
    align-content: center;
    align-items: center;
    flex-direction: column
  }

  .framer-xWgCm .framer-c6rbxn-container {
    height: 340px;
    left: calc(49.4708994708995% - 335px / 2);
    top: 21px;
    width: 335px
  }

  .framer-xWgCm .framer-1xlygzp {
    order: 1
  }
}

@media (max-width: 809px) {
  .framer-xWgCm .hidden-iz8bxz {
    display: none !important
  }

  .framer-body-augiA20Il-framer-xWgCm {
    background: rgb(0, 0, 0)
  }

  .framer-xWgCm .framer-ubnhcw {
    bottom: 84px;
    right: -53px
  }

  .framer-xWgCm .framer-ycs7x6 {
    align-content: center;
    align-items: center;
    order: 3;
    padding: 0;
    width: 100%
  }

  .framer-xWgCm .framer-134l8u3,
  .framer-xWgCm .framer-1ytfxb5 {
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%
  }

  .framer-xWgCm .framer-1wsmyl2 {
    height: 298px;
    order: 1;
    width: 296px
  }

  .framer-xWgCm .framer-c6rbxn-container {
    height: 267px;
    left: calc(51.01351351351353% - 263px / 2);
    top: calc(49.328859060402706% - 267px / 2);
    width: 263px
  }

  .framer-xWgCm .framer-5mo8o4 {
    height: 194px;
    width: 196px
  }

  .framer-xWgCm .framer-1s9by2j {
    height: 85px;
    width: 140px
  }

  .framer-xWgCm .framer-1xlygzp {
    order: 2
  }
}

@media (min-width: 1900px) {
  .framer-xWgCm .hidden-88kw1x {
    display: none !important
  }

  .framer-body-augiA20Il-framer-xWgCm {
    background: rgb(0, 0, 0)
  }

  .framer-xWgCm .framer-capug6 {
    width: 437px
  }

  .framer-xWgCm .framer-xigl9j-container {
    width: 430px
  }

  .framer-xWgCm .framer-42hyyz {
    width: 472px
  }

  .framer-xWgCm .framer-ubnhcw {
    right: 226px
  }
}

.transform-origin-center-center {
  transform-origin: center center !important
}

.ssr-variant {
  display: contents
}

.framer-OiO9i.framer-wkqw3q,
.framer-OiO9i .framer-wkqw3q {
  display: block
}

.framer-OiO9i.framer-11zl8dm {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 64px;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 32px;
  position: relative;
  width: 1200px
}

.framer-OiO9i .framer-e0mfko {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 10px;
  position: relative;
  width: min-content
}

.framer-OiO9i .framer-119ii5k {
  aspect-ratio: 2.236111111111111 / 1;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 38px);
  overflow: visible;
  position: relative;
  width: 83px
}

.framer-OiO9i .framer-1czmoxh {
  align-content: center;
  align-items: center;
  display: flex;
  flex: 1 0 0px;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 1px
}

.framer-OiO9i .framer-1gbjjuq-container,
.framer-OiO9i .framer-shq1gt-container,
.framer-OiO9i .framer-ymuwn7-container,
.framer-OiO9i .framer-1ikt9gk-container {
  flex: none;
  height: 24px;
  position: relative;
  width: 24px
}

.framer-OiO9i .framer-wnlfn4,
.framer-OiO9i .framer-1isdy0r,
.framer-OiO9i .framer-1e9o1n1,
.framer-OiO9i .framer-d17nn3,
.framer-OiO9i .framer-g98w6k,
.framer-OiO9i .framer-n5g021 {
  -webkit-user-select: none;
  flex: none;
  height: auto;
  position: relative;
  user-select: none;
  white-space: pre;
  width: auto
}

.framer-OiO9i .framer-r3hlxn {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: min-content
}

.framer-OiO9i .framer-skjpjm {
  bottom: 0;
  flex: none;
  height: 1px;
  left: 0;
  overflow: visible;
  position: absolute;
  right: 0;
  z-index: 1
}

.framer-OiO9i .framer-tpjblh {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 24px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: min-content
}

.framer-OiO9i .framer-dawspc {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: min-content
}

.framer-OiO9i .framer-1o4y24y,
.framer-OiO9i .framer-12jjfjd {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  text-decoration: none;
  width: min-content
}

.framer-OiO9i .framer-gnhak5,
.framer-OiO9i .framer-7fjhiy {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: center;
  overflow: visible;
  padding: 0;
  position: relative;
  width: min-content
}

.framer-OiO9i .framer-6mqyst,
.framer-OiO9i .framer-1j8354m {
  -webkit-user-select: auto;
  flex: none;
  height: 24px;
  position: relative;
  user-select: auto;
  white-space: pre;
  width: auto
}

.framer-OiO9i .framer-1lj667r,
.framer-OiO9i .framer-1obe3w5 {
  -webkit-user-select: auto;
  flex: none;
  height: auto;
  position: relative;
  user-select: auto;
  white-space: pre;
  width: auto
}

.framer-OiO9i.framer-v-1tz3z9q.framer-11zl8dm {
  flex-direction: column;
  gap: 110px;
  justify-content: flex-start;
  padding: 0 24px;
  width: 390px
}

.framer-OiO9i.framer-v-1tz3z9q .framer-e0mfko,
.framer-OiO9i.framer-v-5cvcz7 .framer-e0mfko {
  gap: unset;
  justify-content: space-between;
  width: 100%
}

.framer-OiO9i.framer-v-1tz3z9q .framer-r3hlxn {
  align-content: flex-start;
  align-items: flex-start;
  flex: 1 0 0px;
  flex-direction: column;
  gap: 5px;
  padding: 60px 20px 120px;
  width: 1px
}

.framer-OiO9i.framer-v-5cvcz7.framer-11zl8dm {
  flex-direction: column;
  height: min-content;
  max-height: calc(var(--framer-viewport-height, 100vh) * 1);
  overflow: auto;
  overscroll-behavior: contain;
  padding: 0 20px;
  width: 390px
}

.framer-OiO9i.framer-v-5cvcz7 .framer-1czmoxh {
  align-content: flex-start;
  align-items: flex-start;
  flex: none;
  flex-direction: column;
  padding: 1px 16px 0;
  width: 100%
}

.framer-OiO9i.framer-v-5cvcz7 .framer-r3hlxn {
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  order: 0;
  padding: 60px 0 120px;
  width: 100%
}

.framer-OiO9i.framer-v-5cvcz7 .framer-dawspc {
  min-height: 30px;
  min-width: 1px
}

.framer-1sAkG .framer-styles-preset-15xpltd:not(.rich-text-wrapper),
.framer-1sAkG .framer-styles-preset-15xpltd.rich-text-wrapper a {
  --framer-link-current-text-color: var(--token-c3b4705b-5eba-4eb0-b994-0f9f42ab4e43, #f1f1f1);
  --framer-link-current-text-decoration: none;
  --framer-link-hover-text-color: #adadad;
  --framer-link-hover-text-decoration: none;
  --framer-link-text-color: var(--token-c3b4705b-5eba-4eb0-b994-0f9f42ab4e43, #f1f1f1);
  --framer-link-text-decoration: none
}